.item-card {
  outline: 1px solid black;
  width: 100%;
  
  aspect-ratio: 1;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  
  user-select: none;
  
  border-radius: 4px;
}

.add-to-cart-overlay {
  position: absolute;
  
  border-radius: 4px;
  
  opacity: 0;
  
  cursor: pointer;
  
  background-color: rgba(82, 140, 97, 0.705);
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  transition: 0.3s;
}

.add-to-cart-overlay.hovered {
  opacity: 1;
}

.add-to-cart-overlay > button {
  width: 25%;
  cursor: pointer;
  
  font-size: 1.5rem;
  
  border-radius: 50%;
  
  border: 2px solid rgb(19, 81, 24);
  
  aspect-ratio: 1;
}

.pressed {
  transform: scale(0.9);
}