.search-bar {
  display: flex;
  margin-left: 100px;
  height: 50px;
}

.search-field {
  width: 90%;
  font-size: 1.5rem;
  
  padding: 0 10px;
}

.search-button {
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  aspect-ratio: 1;
}

.store-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 100px;
}